BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: None
AccessModifierOffset: -2
BreakBeforeBraces: Attach

